body {
    font-family: sans-serif;
}
.panel {
    stroke: black;
    fill: white;
}
.bg {
    fill: white;
}
.link {

}

.dot {
    
}
.dot_ {
   
}
.label-node {
    fill: silver;
}
.active {
    stroke: black;
}
.label {
    fill: gray;
    pointer-events: none;
}
.label_ {
    fill: gray;
    pointer-events: none;
}
#radviz-tooltip {
    font-size: 12px;
    margin-top: -12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}
#radviz-tooltip h1 {
    font-size: 14px;
    margin: 0;
}
#regradviz-tooltip {
    font-size: 12px;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}
#regradviz-tooltip h1 {
    font-size: 14px;
    margin: 0;
}
